body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 14px;
}

@media (max-width: 940px) {
  body {
    font-size: 12px;
  }
}

#root {
  height: 100%;
}

input {
  font-family: 'Roboto'!important;
}

.candone-button:hover {
  background: #52B2A4!important;
}

.candone-cancel-button:hover {
  background: #788892!important;
}

.candone-close-button:hover {
  color: #788892!important;
}


.candone-card {
}

.candone-card:hover .delete-icon {
  opacity: 1!important;
}

.candone-card:hover .followup-icon {
  opacity: 1!important;
}
