body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 14px;
}

@media (max-width: 940px) {
  body {
    font-size: 12px;
  }
}

#root {
  height: 100%;
}

input {
  font-family: 'Roboto'!important;
}

.candone-button:hover {
  background: #52B2A4!important;
}

.candone-cancel-button:hover {
  background: #788892!important;
}

.candone-close-button:hover {
  color: #788892!important;
}

.candone-delete-button:hover {
   background: #AF3242!important;
}


.candone-special-button:hover {
  background: #52B2A4!important;
}

.candone-yellow-button:hover {
  background: #C79F53!important;
}

.candone-card {
}

.candone-card:hover .delete-icon {
  opacity: 1!important;
}

.candone-card:hover .followup-icon {
  opacity: 1!important;
}

.candone-icon {
  // fill: #60BDF2;
}

.candone-icon:hover {
  fill: #39748E!important;
}

.cls-1 {
  fill:none;
}

.cls-3 {
  fill:none;
}

.cls-1, .cls-2, .cls-3 {
  stroke:#60bdf2;
  stroke-linejoin:round;
  stroke-width:1px;
}

.cls-2 {
  fill:#60bdf2;
}

.cls-3 {
  stroke-linecap:round;
}

svg {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
}
